<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cameron Pittman</title>
        <script src="javascripts/jquery.js"></script>
        <script src="javascripts/vendor/custom.modernizr.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.runtime.min.js"></script>
        <script src="javascripts/handlebars.runtime.min.js"></script>
        <script type="text/javascript" src="/handlebars.templates"></script>
    </head>
    <body>
        <canvas id="myCanvas" width="640" height="480"></canvas>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/game.js"></script>
</body>
</html>