<head>
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>

<a href="http://localhost:8080">Main Page</a>
{{#each number}}
<div>{{this}}</div>
{{/each}}

</div>TWO! {{two}}</div>

<div class="title">
	<div>Cameron Pittman</div>
</div>
<div class="subtitle">
	<div>Seattle, WA</div>
	<div>email: cameron@[this website's url]</div>
	<div>url: cameronpittman.com</div>
	<div>blog: physicswithportals.com</div>
</div>
<br>
<div class="container_12">
	<div id="belmont_button" class="button">
		<div class="major_heading prefix_1">
			Education
		</div>
		<div class="minor_heading grid_6 prefix_1">
			Belmont University
		</div>
		<div class="grid_4 right">
			Nashville, TN
		</div>
		<br>
		<div class="grid_5 prefix_1">
			MA, Teaching
		</div>
		<div class="grid_5 right">
			2011
		</div>
	</div>
	<br>
	<script>
		$( "#belmont_button" ).click(function() {
	  $( "#belmont_image" ).slideToggle( "slow" );
	});
	</script>
	<div id="belmont_image" class="grid_12 hidden_description">
	</div>
	<br>
	<div class="minor_heading grid_6 prefix_1">
		Vanderbilt University
	</div>
	<div class="grid_4 right">
		Nashville, TN
	</div>
	<br>
	<div class="grid_5 prefix_1">
		BA, Physics
	</div>
	<div class="grid_5 right">
		2009
	</div>
	<br>
	<div class="prefix_1">
		<cite>Honors:</cite> Astronomy
	</div>
	<div class="prefix_1">
		<cite>Study Abroad:</cite> University of Adelaide, Australia (2008)
	</div>
	<br>
	<div class="major_heading prefix_1">
		Professional Exprience
	</div>
	<div class="minor_heading grid_7 prefix_1">
		LEAD Academy Charter High School
	</div>
	<div class="grid_3 right">
		Nashville, TN
	</div>
	<div class="grid_6 prefix_1">
		Physics and Chemistry Teacher
	</div>
	<div class="grid_4 right">
		2012-2013
	</div>
	<br>
	<div class="description grid_7">
		Maintains rigorous standards and expectations to fulfill LEAD’s mission of sending every student to a 4-year college or university.
	</div>
</div>
 <script type="text/javascript">
	$( ".hidden_description" ).hide();
	$( ".hidden_description" ).click(function() {
	  $( this ).slideToggle( "slow" );
	});
</script>