<div class="rpi-panel-container">
  <div class="rpi-panel row">
    <div class="rpi-panel-col column small-4">
        <a href="/images/CP-headshot-large.jpg"><img src="/images/CP-headshot-small.jpg" alt="Cameron Pittman"></a>
    </div>
    <div class="rpi-panel-col text-left column small-8 rpi-text-white">
        <h2w>Cameron Pittman</h2w><br><br>Former high school science teacher. Specialized in teaching physics with <em>Portal 2</em>.<br>Currently a software engineer in training.<br>For more information, <a href="/resume">check out my resume</a> or <a href="http://physicswithportals.com">blog</a>.
      </div>
  </div>
</div>

<div id="outreach" class="rpi-panel-container">
  <div class="rpi-panel row">
    <div class="rpi-panel-col column small-12">
      <h2>Professional Outreach<h2>
    </div>
    <div class="rpi-panel-col column small-12 text-left">
      <h3>- start<br>
      - listing<br>
      - things<br>
      - here</h3>
    </div>
  </div>
</div>

<div id="pwp" class="rpi-panel-container">
  <div class="rpi-panel">
    <div class="row">
      <div class="rpi-panel-col column small-12">
        <h2>Physics with Portals</h2>
      </div>
      <div class="rpi-panel-col column small-8">
        <ul data-orbit>
          <li>
            <img src="/images/pwp/p01.jpg" alt="slide 1" />
            <div class="orbit-caption">
              My old classroom on Physics Parents Night.
            </div>
          </li>
          <li>
            <img src="/images/pwp/p02.jpg" alt="slide 2" />
            <div class="orbit-caption">
              Explaining how my students will be using <em>Portal 2</em> in class.
            </div>
          </li>
          <li>
            <img src="/images/pwp/p03.jpg" alt="slide 3" />
            <div class="orbit-caption">
              Students showing off their physics knowledge in front of parents!
            </div>
          </li>
        </ul> 
      </div>
      <div class="rpi-panel-col text-left column small-4">
        In the fall of 2012, I taught physics with the video game <em>Portal 2</em>. My students explored physics using the Portal 2 Puzzle Maker, an easy-to-use sandbox editor that allowed them to design, build and analyze physics experiments within minutes.<br><br>Students experimented everything from the relationship between velocity and acceleration to conservation of energy and projectile motion.
      </div>
    </div>
    <div class="row rpi-panel-subrow">
      <div class="rpi-panel-col text-left column small-4">Before and throughout the semester, I blogged and created a video series called Physics with Portals demonstrating how physics teachers and students could take advantage of the Puzzle Maker in class.
      </div>
      <div class="rpi-panel-col column small-8"><iframe width="560" height="315" src="//www.youtube.com/embed/MSisAXBipgM" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div id="lb" class="rpi-panel-container">
  <div class="rpi-panel row">
    <div class="rpi-panel-col column small-12">
      <h2>Engineering and LearnBIG</h2>
    </div>
    <div style="background-color: white" class="rpi-panel-col column push-4 small-4">
      <img src="images/logo-LearnBIG2.png" alt="LearnBIG">
    </div>
    <div class="rpi-panel-col column rpi-panel-subrow small-12">
      LearnBIG connects people to online educational resources. As a tech-savvy former teacher, I came to LearnBIG as a content expert. I led a team that collected and organized information on an initial database of more than 12,000 online educational resources.
    </div>
    <div class="rpi-panel-col rpi-panel-subrow column small-8">
      [insert screenshots from ST2, MW]
    </div>
    <div class="rpi-panel-col rpi-panel-subrow column text-left small-4">
      During and following the initial content push, it became clear that the company had a business need for engineering. Despite limited experience with programming at the outset of LearnBIG, my role has shifted to 80% engineering. I've taken on web development on a NodeJS server using HandlebarsJS, written scripts with Python to validate our data, maintained and analyzed our MySQL backend, and studied basic data structures in C++ along the way.
    </div>
  </div>
</div>


<div id="wbsc" class="rpi-panel-container">
  <div class="rpi-panel row">
    <div class="rpi-panel-col column small-12">
      <h2>The Weather Balloon Space Camera</h2>
    </div>
    <div class="rpi-panel-col column small-12">
      <iframe width="420" height="315" src="//www.youtube.com/embed/ykT6hUduEIc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="rpi-panel-col column rpi-panel-subrow small-12">
      In my first year of teaching, I worked with another teacher and three students to build and launch the Weather Balloon Space Camera, a high altitude science experiment shamelessly copied from this group.*******need link********
    </div>
    <div class="rpi-panel-col rpi-panel-subrow column small-12">
      [slideshow from camera with annotations]
    </div>
  </div>
</div>

<div id="about" class="rpi-panel-container rpi-text-white">
  <div class="rpi-panel row">
    <div class="rpi-panel-col column small-12">
      <h2w>About this site</h2w>
    </div>
    <div class="rpi-panel-col column small-4">
        <img src="/images/CP-headshot-small.jpg" alt="Cameron Pittman" href="/images/CP-headshot-large.jpg">
    </div>
    <div class="rpi-panel-col column small-8">
        Why is this light teal? 
    </div>
  </div>
</div>