@font-face {
  font-family: 'opensans-regular';
  src: url("/fonts/opensans-regular.eot");
  src: url("/fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-regular.woff") format("woff"), url("/fonts/opensans-regular.ttf") format("truetype"), url("/fonts/opensans-regular.svg#opensans-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-light';
  src: url("/fonts/opensans-light.eot");
  src: url("/fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-light.woff") format("woff"), url("/fonts/opensans-light.ttf") format("truetype"), url("/fonts/opensans-light.svg#opensans-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-semibold';
  src: url("/fonts/opensans-semibold.eot");
  src: url("/fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-semibold.woff") format("woff"), url("/fonts/opensans-semibold.ttf") format("truetype"), url("/fonts/opensans-semibold.svg#opensans-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "opensans-regular";
  font-size: 16px;
}

div#content {
  width:100%;
  margin: 0 auto;
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
          transition: all 2s ease;
}

.rpi-rotate {
  -webkit-transform: rotateY(90deg);
     -moz-transform: rotateY(90deg);
         -transform: rotateY(90deg);
}

.rpi-global-footer .rpi-footer-link ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  font-size: 19px;
  font-family: "opensans-semibold";
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  text-align: left;
}

.rpi-centered-text {
  text-align: center;
}

.rpi-teal {
  background-color: #00A287;
}

.rpi-blue {
  background-color: #104BA9;
}

.rpi-green {
  background-color: #2DD700;
}

.rpi-white {
  background-color: #ffffff;
}

.rpi-text-white {
    color: #FFFFFF;
}

.rpi-panel-container.hidden {
  opacity: 0;
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.rpi-panel-container {
  max-height: 2000px;
  -webkit-transition: opacity .5s, max-height .5s ease;
     -moz-transition: opacity .5s, max-height .5s ease;
      -ms-transition: opacity .5s, max-height .5s ease;
       -o-transition: opacity .5s, max-height .5s ease;
          transition: opacity .5s, max-height .5s ease;
}

.rpi-panel {
  /*float:left;*/
  vertical-align: top;
  /*width: 100%;*/
  border-style: none;
  margin-bottom: 0;
  padding: 50px 0;
}

.rpi-panel-subrow {
    padding-top: 50px;
}

.rpi-sub-panels > .rpi-panel-container:nth-child(1n) {
  background-color: #FF8900;
}
.rpi-sub-panels > .rpi-panel-container:nth-child(2n) {
  background-color: #34D2AF
}
.rpi-sub-panels > .rpi-panel-container:nth-child(3n) {
  background-color: #4DB870;
}
.rpi-sub-panels > .rpi-panel-container:nth-child(4n) {
  background-color: #66C285;
}
.rpi-sub-panels > .rpi-panel-container:nth-child(5n) {
  background-color: #80CC99;
}

.rpi-panel-container:first-child {
  padding-top: 45px;
}

.rpi-panel-container:nth-child(1) {
  background-color: #333333;
}
.rpi-panel-container:nth-child(2) {
  background-color: #34D2AF;
}
.rpi-panel-container:nth-child(3) {
  background-color: #00A480;
}
.rpi-panel-container:nth-child(4) {
  background-color: #1F7B67;
}
.rpi-panel-container:nth-child(5) {
  background-color: #006B53;
}
.rpi-panel-container:nth-child(6) {
  background-color: #004334;
}

.rpi-panel .rpi-panel-col {
  /*width: 100%;*/
  vertical-align: top;
  display: inline-block;
  text-align: center;
  line-height:150%;
}

/*.rpi-sub-panels > .rpi-panel:first-child {
  box-shadow: 8px 8px 5px rgba(0,0,0,.6) inset, -8px 0px 5px rgba(0,0,0,.6) inset;
}

.rpi-sub-panels > .rpi-panel {
  box-shadow: 8px 0px 5px rgba(0,0,0,.6) inset, -8px 0px 5px rgba(0,0,0,.6) inset;
}

.rpi-sub-panels > .rpi-panel:last-child {
  box-shadow: 8px -8px 5px rgba(0,0,0,.6) inset, -8px 0px 5px rgba(0,0,0,.6) inset;
}*/

/*.rpi-panel .rpi-panel-col.rpi-one-half {
  display: inline-block;
  width: 50%;
  padding: 0 5px;
}

.rpi-panel .rpi-panel-col.rpi-one-third {
  display: inline-block;
  width: 33.3%;
  padding: 0 5px;
}

.rpi-panel .rpi-panel-col.rpi-two-third {
  display: inline-block;
  width: 66.6%;
  padding: 0 5px;
}
*/
.rpi-panel .rpi-panel-col h1 {
  font-family: "opensans-semibold";
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  /*color: #1d7bdc;*/
  color: #000000;
}

.rpi-panel .rpi-panel-col h2w {
  font-family: "opensans-semibold";
  font-size: 34px;
  font-style: normal;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  /*color: #1d7bdc;*/
  color: #FFFFFF;
}

.rpi-panel .rpi-panel-col h2 {
  font-family: "opensans-semibold";
  font-size: 34px;
  font-style: normal;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  /*color: #1d7bdc;*/
  color: #000000;
}

.rpi-panel .rpi-panel-col h3 {
  font-family: "opensans-semibold";
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  /*color: #1d7bdc;*/
  color: #000000;
  padding-top: 50px;
}

.rpi-panel .rpi-panel-col h4 {
  font-family: "opensans-semibold";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  /*color: #1d7bdc;*/
  color: #000000;
}

.rpi-panel .rpi-panel-col p {
  font-family: "opensans-light";
  font-size: 24px;
  color: #76655b;
}

.rpi-panel p {
  margin-bottom: 0;
}

.rpi-panel-container {
  padding: 0;
}

.rpi-panel-text-container {
  padding: 0;
  margin-top: 3%;
}

.rpi-button-container {
  padding: 0 6px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.button-group.rpi-button-group-centered {
  width: 100%;
  /*float: center;*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*display: inline;*/
}

.button-group.rpi-button-group-centered > *:first-child {
      margin-left: auto; }

.button.rpi-button-interview {
  width: 100%;
}

.subheader.rpi-button-interview {
  color: white;
}

.show:focus + .hide {
  display: inline;
}

.show:focus {
  display: none;
}

.show:focus ~ #list {
  display: none;
}

.rpi-polaroid {
  width: 400px;
}

.rpi-tilt-left {
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.rpi-tilt-right {
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
          transform: rotate(3deg);
}
 
.rpi-float-left {
  float: left;
}

.rpi-float-right {
  float: right;
}
.rpi-polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

/*.row { 
  min-width: 100%;
}*/

.rpi-panel-container {
  /*margin: 0 auto;*/
}